<div class="checkout-cart" ng-controller="Cart">
    <header id="header">
        <a onclick="window.history.go(-1);" class="back"><img src="/imgs/mobile/back.png"/></a>
        购物车
        <span class="category_h_nav js-cart-edit-btn" style="cursor:pointer;display:none;" ng-click="edit()">{{isEdit?'完成':'编辑'}}</span>
    </header>

    <div>
        <section class="mainbg"></section>

        <section class="main pad js-cart-empty">
            <section class="padleft">
                <section class="cart_em"><img src="/imgs/mobile/cart_empty.png">您的购物车内没有商品！</section>
                <section class="gift_btn"><a href="#">继续购物</a></section>
            </section>
        </section>

        <section class="main pad fullRub_pad carad js-cart-nonempty" style="display:none;">
            <section class="cart_list pad">
                <table width="100%">
                    <tbody>
                    <tr ng-repeat="good in cart.goods">
                        <td>
                            <div class="js-cart-checkbox-select-buy">
                                <input class="change_cart_input checked_input" index="{{$index}}" type="checkbox"
                                       ng-checked="checkAllBuy" ng-click="calculateTotal()">
                                <label class="change_cart_input input_checked_no"></label>
                            </div>

                            <div class="js-cart-checkbox-select-delete" style="display:none;">
                                <input class="change_cart_input checked_input" index="{{$index}}" type="checkbox"
                                       ng-checked="checkAllDelete" ng-click="calculateTotal()">
                                <label class="change_cart_input input_checked_no "></label>
                            </div>
                        </td>
                        <td class="td1">
                            <a href="#">
                                <img src="/imgs/upload/{{good.pic}}" class="img"></a></td>
                        <td class="td2">
                            <h2 class="pro_title">
                                <a href="#">{{good.name}}</a>
                                <span class="l sell_out" ng-show="good.balance==0">已经卖完</span>
                            </h2>
                            <h3>
                                <span class="r cart_list_nuber ">
                                    <input class="down" type="button" value="-"
                                           ng-click="changeQuantity(good.goodID,good.quantity,true)">
                                    <input class="addcart" id="{{good.goodID}}" type="text" ng-value="good.quantity">
                                    <input class="up" type="button" value="+"
                                           ng-click="changeQuantity(good.goodID,good.quantity,false)">
                                </span>
                                <span class="show-total">{{good.price*good.quantity|currency:'￥'}}</span>
                            </h3>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>

        <footer class="f_cart js-cart-bottom-checkout" style="z-index:200;display:none;">
            <a href="#">
                <div class="f_title coupon_entry">
                    <div style="font-size:14px;">点此使用<i>优惠券</i></div>
                </div>
            </a>
            <section class="f_con">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td>
                            <input class="change_cart_input checked_input" type="checkbox" ng-model="checkAllBuy"
                                   ng-click="calculateTotal()">
                            <label class="change_cart_input input_checked_no"></label>
                            <span class="select-all">全选</span>
                        </td>
                        <td width="65%" class="total-show">
                            <h2 style="display:inline-block;">合计:<span>{{totalAmount|currency:'￥'}}</span></h2>
                            <h3>商品:{{totalAmount|currency:'￥'}}</h3>
                        </td>
                        <td width="35%">
                            <a class="btn_checkout" ng-click="buy()">结算</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </footer>

        <footer class="f_cart js-cart-bottom-edit" style="display:none;z-index:200;">
            <section class="f_con">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td>
                            <input class="change_cart_input checked_input" type="checkbox" ng-model="checkAllDelete"
                                   ng-click="calculateTotal()">
                            <label class="change_cart_input input_checked_no"></label>
                        </td>
                        <td width="60%">
                            <span class="checkout_all_font">全选</span></td>
                        <td width="40%">
                            <a class="btn_select_delete checkout_del_btn" ng-click="delete()">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </footer>
    </div>
</div>