<div class="product-categorylist" ng-controller="Category">
    <header id="header">
        <a class="back" onclick="window.history.go(-1);"><img src="/imgs/mobile/back.png"/></a>
        分类
    </header>
    <section class="main pad">
        <ul class="mainlist">
            <li ng-repeat="c in goodCategories"><a href="/#/goods/{{c}}">
                <img src="http://m.tablelife.com/image/cache/catalog/product/0000728/meat-210x165.png"/>
                {{c}}
            </a></li>
        </ul>
    </section>
</div>