<header id="header">
    <a href="http://m.tablelife.com/" class="back"><img src="/wap/view/0501/images/mark1.png" /></a>
    分类
</header>
<section class="main pad">
    <ul class="mainlist">
        <li class=""><a href="http://m.tablelife.com/zh/list-162.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/meat-210x165.png" />肉类禽蛋</a></li>
        <li class=""><a href="http://m.tablelife.com/zh/list-168.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/seafood-210x165.png" />海鲜</a></li>
        <li class="bor"><a href="http://m.tablelife.com/zh/list-141.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/fruit-210x165.png" />水果</a></li>
        <li class=""><a href="http://m.tablelife.com/zh/list-152.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/vege-210x165.png" />蔬菜</a></li>
        <li class=""><a href="http://m.tablelife.com/zh/list-175.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/dairy-210x165.png" />奶制品</a></li>
        <li class="bor"><a href="http://m.tablelife.com/zh/list-180.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/beverage-210x165.png" />饮料和酒</a></li>
        <li class=""><a href="http://m.tablelife.com/zh/list-185.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/pantry-210x165.png" />粮油杂货</a></li>
        <li class=""><a href="http://m.tablelife.com/zh/list-192.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/Snack-210x165.png" />零食</a></li>
        <li class="bor"><a href="http://m.tablelife.com/zh/list-197.html"><img src="http://m.tablelife.com/image/cache/catalog/product/0000728/frozen_food-210x165.png" />冷冻美食</a></li>
    </ul>
</section>