<div class="modal fade in" id="dialogConfirm" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>删除确认</h3>
            </div>
            <div class="modal-body">
                <p>提示消息</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal"
                   ng-click="confirmOperation(entityToOperate)">确定</a>
            </div>
        </div>
    </div>
</div>