<div class="container " style="min-height: 361px;">
    <div class="content clearfix js-page-content">

        <div class="nav-fixed">
            <a class="fixed-nav-item-orders">
                <span class="nav-cur">购物车</span>
            </a>
            <a class="fixed-nav-item-orders">
                <span>未完成订单</span>
            </a>
            <a class="fixed-nav-item-orders">
                <span>已完成订单</span>
            </a>
        </div>

        <div id="cart-container">
            <div class="empty-list " style="padding-top:60px;">

                <div class="empty-list-header">
                    <h4>购物车快饿瘪了 T.T</h4>
                    <span>快给我挑点宝贝</span>
                </div>

                <div class="empty-list-content"><a
                        href="https://wap.koudaitong.com/v2/showcase/homepage?kdt_id=15573072"
                        class="js-go-home home-page tag tag-big tag-orange">去逛逛</a></div>

            </div>
        </div>

        <div class="js-bottom-opts bottom-fix hide" style="padding: 0px; display: none;">
            <div class="bottom-cart clear-fix">
                <div class="select-all"><span class="check"></span>全选</div>
                <div class="total-price">合计：<span class="js-total-price">0</span>元</div>
                <button class="js-go-pay btn btn-orange-dark font-size-14" disabled="true">结算
                </button>
                <button class="j-delete-goods btn font-size-14 btn-red hide" disabled="true">删除
                </button>
            </div>
        </div>
    </div>
</div>