<div class="container " style="min-height: 361px;">
    <div class="content clearfix js-page-content">

        <div class="nav-fixed">
            <a class="fixed-nav-item-orders">
                <span class="nav-cur">购物车</span>
            </a>
            <a class="fixed-nav-item-orders">
                <span>未完成订单</span>
            </a>
            <a class="fixed-nav-item-orders">
                <span>已完成订单</span>
            </a>
        </div>

        <div id="cart-container">
            <div class="deal-list-status">
                <div class="orders-order">
                    <div>
                        <a>
                            <div class="orders-order-glist">
                                <div class="orders-mall-title">
                                    <img class="_icon"
                                         src="http://omsproduction.b0.upaiyun.com/goods/d06f144f1d/310/310/de34736278c65349a2bd1533a8448f42.jpg">
                                    <span class="_mall_name">益果汇</span>
                                </div>
                            </div>
                            <div class="orders-order-goods">
                                <div class="cart-checkbox-wrapper">
                                    <input type="checkbox" class="cart-checkbox-real"/>
                                    <div class="cart-checkbox-fake">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </div>
                                </div>
                                <div class="orders-order-goods-img" style="margin-left:25px;">
                                    <img src="http://omsproduction.b0.upaiyun.com/goods/280b2c9f2b7c3361c7bb95ae75c5a1c5813244b9f9.jpg">
                                </div>
                                <div class="orders-order-goods-name" style="margin-left:160px;">
                                    <div class="_goods_name">9.8元越南青芒2斤（4个左右）进口芒果 新鲜水果（江浙沪专享）（预售，4月27日完成发货）</div>
                                </div>
                                <div class="orders-order-goods-payed">
                                    <!--ms-if-->
                                    <div class="payed-head">实付:</div>
                                    <div class="payed-amount">￥19.00</div>
                                    <div class="payed-free">&nbsp;(免运费)</div>
                                </div>
                            </div>
                        </a>
                        <div class="orders-order-bd-bottom">
                            <div class="orders-order-ft">
                                <div class="orders-order-opt">
                                    <div class="orders-order-btn">
                                        <a class="_order_btn_cancel">移除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="orders-order">
                    <div>
                        <a>
                            <div class="orders-order-glist">
                                <div class="orders-mall-title">
                                    <img class="_icon"
                                         src="http://omsproduction.b0.upaiyun.com/goods/d06f144f1da6bcb7940a5b07edeff888a9445b431a.jpg">
                                    <span class="_mall_name">宜美家</span>
                                </div>
                            </div>
                            <div class="orders-order-goods">
                                <div class="cart-checkbox-wrapper">
                                    <input type="checkbox" class="cart-checkbox-real"/>
                                    <div class="cart-checkbox-fake">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </div>
                                </div>
                                <div class="orders-order-goods-img" style="margin-left:25px;">
                                    <img src="http://omsproduction.b0.upaiyun.com/goods/b2d946cdf3/200/200/d56744a1f9e93d3c0182a8947da437d0.jpg">
                                </div>
                                <div class="orders-order-goods-name" style="margin-left:160px;">
                                    <div class="_goods_name">【秒杀59元】 迷你洗衣机 洗衣棒 家用便携式 手持式 超小型 局部清洁去污渍洗衣棒【秒杀20:00开始
                                        限量100份】
                                    </div>
                                    <div class="_spec">金色</div>
                                </div>
                                <div class="orders-order-goods-payed">
                                    <div class="payed-head">实付:</div>
                                    <div class="payed-amount">￥69.00</div>
                                    <div class="payed-free">(免运费)</div>
                                </div>
                            </div>
                        </a>
                        <div class="orders-order-bd-bottom">
                            <div class="orders-order-ft">
                                <div class="orders-order-opt">
                                    <div class="orders-order-btn">
                                        <a class="_order_btn_cancel">移除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="orders-order cart-footer">
                    <div>
                        <div class="orders-order-bd-bottom">
                            <div class="cart-checkbox-wrapper cart-checkbox-checkall">
                                <input type="checkbox" class="cart-checkbox-real"/>
                                <div class="cart-checkbox-fake">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                            <div class="orders-order-ft">
                                <div class="orders-order-opt">
                                    <div class="orders-order-btn" style="position:relative;top:-46px;">
                                        <a class="_order_btn_buy">付款/合并付款</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap_position pullUp_show">
                    <!--ms-if-->
                    <div class="posi_abso up">
                        <div class="center" id="center_pullup">
                            <span class="orders-text"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-list " style="padding-top:60px;">
                <div class="empty-list-header">
                    <h4>购物车快饿瘪了 T.T</h4>
                    <span>快给我挑点宝贝</span>
                </div>

                <div class="empty-list-content"><a
                        href="https://wap.koudaitong.com/v2/showcase/homepage?kdt_id=15573072"
                        class="js-go-home home-page tag tag-big tag-orange">去逛逛</a></div>
            </div>
        </div>
    </div>
</div>