<div>
    <div class="wx_wrap">
        <a class="send_address">
            <div id="sendTo">
                <div class="address address_defalut">
                    <h3><b class="send_margin">送至</b><br></h3>
                    <ul>
                        <li><strong>刘晓忠</strong>&nbsp;&nbsp;18702188069</li>
                        <li>测试</li>
                    </ul>
                </div>
                <div class="address_bottom"><img
                        src="http://cdn.yangkeduo.com/assets/img/checkout_address-630fa38b90.png"></div>
            </div>
        </a>

        <div class="order_modified">
            <div class="order_goods">
                <div class="order_goods_img">
                    <img alt=""
                         src="http://omsproduction.b0.upaiyun.com/goods/2ee7433b00114efd1241c6b593379ec6e368d95845.jpg">
                </div>
                <div class="order_goods_info">
                    <div class="order_goods_name">【爱心助农】17.9元5斤优质黄河滩枣低价零利润 4亿斤红枣紧急救援，让枣农不再含泪</div>
                    <div class="order_goods_attr">
                        <div class="order_goods_attr_item">
                            <div class="order_goods_price">29.90<i>/件</i></div>
                        </div>
                        <p class="order_goods_attr_item"><span id="skuLast"></span><i></i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sku-amount" style="border-bottom: 0;">
            <div class="sku-text">
                <a style="margin-left:10px;">购买数量</a>
                <div class="sku-buy-amount-increase" style="margin-right:10px;">
                    <span>+</span>
                </div>
                <input id="skuNum" class="sku-input-text" type="number" maxlength="5">
                <div class="sku-buy-amount-reduce">
                    <span class="button-disabled">−</span>
                </div>
            </div>
        </div>

        <div>
            <div class="total">快递：￥0.00 总价：<span id="totalPrice" class="total_price">29.90</span></div>
            <div class="pay2">
                <div class="pay2_hd">请选择支付方式</div>
                <div class="pay2_list-oc">
                    <div class="pay2_item pay2_wx pay2_selected">
                        <span class="pay2_item_state_default pay2_item_state"></span>
                        <span class="pay2_item_ico_ali"></span>
                        <span class="pay2_item_tit">支付宝支付</span>
                    </div>
                </div>
                <input type="button" class="pay2_btn" id="btn_order_done" value="立即支付">
            </div>
        </div>
    </div>

    <div class="step">
        <div class="step_hd">拼团玩法<a class="step_more">查看详情</a></div>
        <div id="footItem" class="step_list">
            <div class="step_item">
                <div class="step_num">1</div>
                <div class="step_detail">
                    <p class="step_tit">选择<br>心仪商品</p>
                </div>
            </div>
            <div class="step_item step_item_on">
                <div class="step_num">2</div>
                <div class="step_detail">
                    <p class="step_tit">支付开团<br>或参团</p>
                </div>
            </div>
            <div class="step_item">
                <div class="step_num">3</div>
                <div class="step_detail">
                    <p class="step_tit">等待好友<br>参团支付</p>
                </div>
            </div>
            <div class="step_item">
                <div class="step_num">4</div>
                <div class="step_detail">
                    <p class="step_tit">达到人数<br>团购成功</p>
                </div>
            </div>
        </div>
    </div>
    <div class="order_couponselector" style="display: none;">
        <div class="order_coupon_header">优惠券</div>
        <div class="order_coupon_wrapper">
            <div class="order_coupon_list"></div>
        </div>
        <div class="order_coupon_button">确认</div>
    </div>
</div>