<div ng-controller="Coupon">
    <div class="nav_fixed">
        <a class="fixed_nav_item_coupons" ui-sref="coupon({status:'Usable'})"><span class="nav_txt">可使用</span></a>
        <a class="fixed_nav_item_coupons" ui-sref="coupon({status:'Pending'})"><span class="nav_txt nav_payment">未激活<b
                class="nav_payment_num">{{pendingTotal}}</b></span></a>
        <a class="fixed_nav_item_coupons" ui-sref="coupon({status:'Unusable'})"><span class="nav_txt nav_receiving">已用/已过期<b
                class="nav_receiving_num">{{unusableTotal}}</b></span></a>
    </div>
    <div class="wrapper_coupons">
        <div style="margin-bottom:10px;" ng-repeat="coupon in userCoupons">
            <div class="coupon">
                <a class="price-symbol">¥</a>
                <a class="amount">{{coupon.amount}}</a>
                <a class="scope">全店通用</a>
                <a class="lb-use-cond">兑换条件:</a>
                <a class="use-cond">满{{coupon.minPoints}}积分</a>
                <a class="lb-valid-date">有效时间:</a>
                <a class="valid-date">2016.01.17&nbsp;至&nbsp;2016.07.17</a>
            </div>
        </div>

        <div ng-show="userCoupons.length==0">
            <div class="coup_no_coupons">您还没有优惠券哦~</div>
        </div>
    </div>
</div>