<div class="container goods-container no-footer" avalonctrl="root" style="visibility: visible;">
    <section class="main-view">
        <div id="focus" class="focus goods-focus ect-padding-lr ect-margin-tb" style="height: 400px;">
            <div class="hd">
                <ul>
                    <li class="">1</li>
                    <li class="on">2</li>
                    <li class="">3</li>
                </ul>
            </div>
            <div class="bd">
                <div class="tempWrap" style="overflow:hidden; position:relative;">
                    <ul style="width: 1920px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translate(-640px, 0px) translateZ(0px);">
                        <li style="display: table-cell; vertical-align: top; width: 640px;"><img
                                src="http://omsproduction.b0.upaiyun.com/goods/4a607329a8aecb29df4c4fa13b30893318c0c36fea.jpg!750">
                        </li>
                        <li style="display: table-cell; vertical-align: top; width: 640px;"><img
                                src="http://omsproduction.b0.upaiyun.com/goods/4a607329a8bf86bd23407ebd313282805ce7ba0f1a.jpg!750">
                        </li>
                        <li style="display: table-cell; vertical-align: top; width: 640px;"><img
                                src="http://omsproduction.b0.upaiyun.com/goods/4a607329a82ad01502992f4001da8af7075cda753f.jpg!750">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tmm">
            <div class="td2">
                <div class="td2_original_price">
                    <span>￥1.00</span>
                    <div class="mar_price">
                        <del>￥</del>
                        <del id="market_price">99.00</del>
                    </div>
                    <div class="lotteryIcon">抽奖</div>
                    <div class="td2_sold_quantity"><span>累计销量：<i id="sold_quantity">10000+</i>件</span></div>
                </div>
                <div class="td2_name">【限量250份】1元1个泰国进口榴莲（3-4斤）再慢就被别人抢完啦！【水果之王 肉质细腻 入口绵密】</div>
                <div class="td2_cx">
                    榴莲美味拿回家！S号榴莲一个3-4斤，口感独特，榴莲香气浓郁，果肉厚实饱满，清凉甜蜜，酥软味甜，新鲜绵滑，还具有很高的营养价值哦【榴莲水份丢失率较高，大约有正负100g浮动，亲们这是正常的哦】【新鲜的榴莲您收到时可能还没熟，在温度为15℃以上的地方放1-2天，比如暖气片、小太阳旁边，很快就会熟哦！】
                </div>
                <div class="lotteryRule">
                    <span class="lotteryRuleHead">抽奖规则</span>
                    <span>活动时间: 4月10日18:00-4月17日18:00</span>
                    <span>1、活动结束后从组团成功的订单中随机抽取250份。</span>
                    <span>2、组团成功未抽中者退款+安慰代金券88元！</span>
                    <span>3、中奖的商品预计4.20号发放。</span>
                </div>
                <div class="td2_info">
                    <div class="mall_detail_1">
                        <img src="http://cdn.yangkeduo.com/assets/img/td2_num_img-51155b64c3.png">
                        <span>包邮</span>
                    </div>
                    <div class="mall_detail_2">
                        <img src="http://cdn.yangkeduo.com/assets/img/td2_num_img-51155b64c3.png">
                        <span>7天退换</span>
                    </div>
                    <div class="mall_detail_3">
                        <img src="http://cdn.yangkeduo.com/assets/img/td2_num_img-51155b64c3.png">
                        <span>正品保障</span>
                    </div>
                    <div class="td2_num">支付开团并邀请<span id="tuan_more_need_number">9</span>人参团，人数不足自动退款</div>
                </div>
            </div>
        </div>
    </section>
    <section id="goods_details"></section>
    <div class="recommend_grid_wrap" avalonctrl="recommend_grid">
        <div id="recommend" class="grid">
            <div class="recommend_head">你可能还喜欢</div>
            <div class="bd">
                <ul data-repeat-rendered="recommendlistReady">
                    <li style="height: 320px;">
                        <div class="recommend_img"><img
                                data-url="http://pinduoduo.b0.upaiyun.com/2/2015/10/jsh857xxq3j8nse0.jpg"
                                src="http://pinduoduo.b0.upaiyun.com/2/2015/10/jsh857xxq3j8nse0.jpg"
                                style="height: 179.2px;"></div>
                        <div class="recommend_title">24.9元 【全网最低】金纺衣物护理剂3升(60包*50ML) 【衣服柔软到想哭】</div>
                        <div class="recommend_price">￥<span>24.90</span></div>
                        <div class="like_click" style="top: 199.2px;">
                            <div class="recommend_like"></div>
                        </div>
                    </li>
                    <li style="height: 320px;">
                        <div class="recommend_img"><img
                                data-url="http://omsproduction.b0.upaiyun.com/goods/278d835147/200/200/6dc167603be1bf64002f2ee6daf30908.jpg"
                                src="http://omsproduction.b0.upaiyun.com/goods/278d835147/200/200/6dc167603be1bf64002f2ee6daf30908.jpg"
                                style="height: 179.2px;"></div>
                        <div class="recommend_title">39.9元包邮6瓶力士高端新活炫亮洗发露体验装（160ml*6）</div>
                        <div class="recommend_price">￥<span>39.90</span></div>
                        <div class="like_click" style="top: 199.2px;">
                            <div class="recommend_like"></div>
                        </div>
                    </li>
                    <li style="height: 320px;">
                        <div class="recommend_img"><img
                                data-url="http://omsproduction.b0.upaiyun.com/goods/bd3279e25e/400/400/2f8599f40d344a2ea200fa4ea81aa727.jpg"
                                src="http://omsproduction.b0.upaiyun.com/goods/bd3279e25e/400/400/2f8599f40d344a2ea200fa4ea81aa727.jpg"
                                style="height: 179.2px;"></div>
                        <div class="recommend_title">15.8元遇水开花黑胶加厚晴雨伞黑胶防晒伞 有效阻隔可见光【限量超低价】</div>
                        <div class="recommend_price">￥<span>15.80</span></div>
                        <div class="like_click" style="top: 199.2px;">
                            <div class="recommend_like"></div>
                        </div>
                    </li>
                </ul>
                <ul data-repeat-rendered="recommendlistReady">
                    <li style="height: 320px;">
                        <div class="recommend_img"><img
                                data-url="http://pinduoduo.b0.upaiyun.com/2/2015/11/p8mjkijo5rwqmb3n.jpg"
                                src="http://pinduoduo.b0.upaiyun.com/2/2015/11/p8mjkijo5rwqmb3n.jpg"
                                style="height: 179.2px;"></div>
                        <div class="recommend_title">【热销100万支】8.9元韩国正品软毛牙刷8只装</div>
                        <div class="recommend_price">￥<span>8.90</span></div>
                        <div class="like_click" style="top: 199.2px;">
                            <div class="recommend_like"></div>
                        </div>
                    </li>
                    <li style="height: 320px;">
                        <div class="recommend_img"><img
                                data-url="http://omsproduction.b0.upaiyun.com/goods/780b5d69c22925acf772aa7145879489/5d8bd04b6490b3428a70df8a39cefddf.jpg"
                                src="http://omsproduction.b0.upaiyun.com/goods/780b5d69c22925acf772aa7145879489/5d8bd04b6490b3428a70df8a39cefddf.jpg"
                                style="height: 179.2px;"></div>
                        <div class="recommend_title">【泰国进口】78元泰国榴莲1个L号（约5-6斤）【预售，4月22日完成发货】</div>
                        <div class="recommend_price">￥<span>78.00</span></div>
                        <div class="like_click" style="top: 199.2px;">
                            <div class="recommend_like"></div>
                        </div>
                    </li>
                    <li style="height: 320px;">
                        <div class="recommend_img"><img
                                data-url="http://omsproduction.b0.upaiyun.com/goods/280b2c9f2b/200/200/5c2fa41c9f32264b2b3210fc224fccf9.jpg"
                                src="http://omsproduction.b0.upaiyun.com/goods/280b2c9f2b/200/200/5c2fa41c9f32264b2b3210fc224fccf9.jpg"
                                style="height: 179.2px;"></div>
                        <div class="recommend_title">【越南进口】24.5元正宗越南青芒果净重5斤装（单果300g,8个左右）肉厚多汁 嫩滑香甜 当季直销</div>
                        <div class="recommend_price">￥<span>24.50</span></div>
                        <div class="like_click" style="top: 199.2px;">
                            <div class="recommend_like"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="recommend_bottom">
            <div class="line"></div>
            <p>已经到底部了</p>
        </div>
    </div>
    <div class="kt">
        <a id="kt_index_btn" class="kt_index">
            <div class="kt_index_img">
                <img src="http://cdn.yangkeduo.com/assets/img/index-38d3d45c2c.png">
            </div>
            <div class="kt_index_text">首页</div>
        </a>
        <a id="kt_like_btn" class="kt_like">
            <div class="kt_index_img">
                <div class="kt_index_img_bg"></div>
            </div>
            <div class="kt_index_text">收藏</div>
        </a>
        <a id="kt_message_btn" class="kt_message">
            <div class="kt_message_img can_contact">

            </div>
            <div class="kt_message_text">客服</div>
        </a>

        <a id="tuan_more_btn" class="kt_item">
            <div class="kt_price"><span id="tuan_more_price">¥&nbsp;58.00</span></div>
            <div class="kt_btn"><b id="tuan_more_number">加入购物车</b></div>
        </a>
    </div>
</div>

<div id="go_top_close" style="bottom: 166px; opacity: 1;"><span>关闭</span></div>