<div class="container goods-container no-footer" ng-controller="Detail">
    <section class="main-view">
        <div class="flexslider">
            <ul class="slides">
                <li ng-repeat="pic in good.pics"><img src="/assets/imgs/upload/{{pic}}"></li>
            </ul>
        </div>
        <div class="tmm">
            <div class="td2">
                <div class="td2_original_price">
                    <span>{{good.sellPrice|currency:'￥'}}</span>
                    <div class="mar_price">
                        <del id="market_price">{{good.originPrice|currency:'￥'}}</del>
                    </div>
                    <div class="lotteryIcon">特价</div>
                    <div class="td2_sold_quantity"><span>累计销量：<i id="sold_quantity">{{good.sales}}+</i>件</span></div>
                </div>
                <div class="td2_name">{{good.name}}</div>
                <div class="td2_cx">{{good.desc}}</div>
                <div class="td2_info">
                    <div class="mall_detail_{{$index+1}}" ng-repeat="ens in good.ensures">
                        <span class="ensure"></span><span>{{ens}}</span>
                    </div>
                    <div class="td2_num">支付开团并邀请<span id="tuan_more_need_number">9</span>人参团，人数不足自动退款</div>
                </div>
            </div>
        </div>
    </section>
    <div class="recommend_grid_wrap">
        <div class="recommend_bottom">
            <div class="line"></div>
            <p>已经到底部了</p>
        </div>
    </div>
    <div class="kt">
        <a id="kt_index_btn" class="kt_index">
            <div class="kt_index_img">
                <img src="http://cdn.yangkeduo.com/assets/img/index-38d3d45c2c.png">
            </div>
            <div class="kt_index_text">首页</div>
        </a>
        <a id="kt_like_btn" class="kt_like">
            <div class="kt_index_img" ng-click="setLike(good._id)">
                <div class="kt_index_img_bg" ng-hide="isLike(good._id)"></div>
                <div class="kt_index_img_bg liked" ng-show="isLike(good._id)"></div>
            </div>
            <div class="kt_index_text">收藏</div>
        </a>
        <a id="kt_message_btn" class="kt_message">
            <div class="kt_message_img can_contact">

            </div>
            <div class="kt_message_text">客服</div>
        </a>

        <a id="tuan_more_btn" class="kt_item" ng-click="addToCart(good)">
            <div class="kt_price"><span id="tuan_more_price">{{good.sellPrice|currency:'￥'}}</span></div>
            <div class="kt_btn"><b id="tuan_more_number">加入购物车</b></div>
        </a>
    </div>
</div>

<div id="go_top_close" ui-sref="list"><span>关闭</span></div>
<div id="go_cart" ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart"></span></div>