<div class="container" style="height:100%" ng-controller="Favorite">
    <div class="no-like" ng-hide="favorites.length>0">还没有添加任何商品到收藏，<br>去找找你心仪的商品吧~</div>
    <section id="like-list" ng-show="favorites.length>0">
        <div class="base-list-wrapper">
            <div class="like-list-item-0" id="like-list-item-0" ng-repeat="good in favorites">
                <div class="like-item">
                    <div class="goods-img">
                        <img src="/assets/imgs/upload/{{good.pics[0]}}">
                    </div>
                    <div class="goods-name">{{good.name}}</div>
                    <div class="core-container">
                        <div class="group-desc">
                            <span>活动价</span>
                            <b>
                                <span>¥</span>59.90
                            </b>
                        </div>
                        <div class="group-button">查看详情</div>
                    </div>
                    <img class="like-button" src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/like/like_high.png">
                </div>
            </div>
            <div class="load-more pull-up-hide"></div>
            <div class="go-top top-button-hide">
                <span>顶部</span>
            </div>
        </div>
    </section>
</div>