<!DOCTYPE html>
<html lang="en">
<head>
    <title>欢迎来到北海之南大果园</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0">
    <link rel='stylesheet' type="text/css" href='/assets/common.css'>
    <link rel='stylesheet' type="text/css" href='/assets/mobile.css'>
</head>
<body ng-app="mobile">

<div style="position:fixed;left:30px;z-index:10000;">
    <button class="btn" ui-sref="list">list</button>
    <br/><br/>
    <button class="btn" ui-sref="checkout">checkout</button>
    <br/><br/>
    <button class="btn" ui-sref="ordersOngoing">ordersOngoing</button>
    <br/><br/>
    <button class="btn" ui-sref="ordersDone">ordersDone</button>
    <br/><br/>
    <button class="btn" ui-sref="my">my</button>
</div>

<div ui-view></div>

<div class="pin-toast-container">
    <div class="pin-toast"></div>
</div>

<div id="go_to_top"><span>顶部</span></div>

<div class="pin-spinner" style="display:{{stateIsLoading?'block':'none'}}">
    <div class="pin-spinner-container pin-spinner-container1">
        <div class="pin-spinner-circle1"></div>
        <div class="pin-spinner-circle2"></div>
        <div class="pin-spinner-circle3"></div>
        <div class="pin-spinner-circle4"></div>
    </div>
    <div class="pin-spinner-container pin-spinner-container2">
        <div class="pin-spinner-circle1"></div>
        <div class="pin-spinner-circle2"></div>
        <div class="pin-spinner-circle3"></div>
        <div class="pin-spinner-circle4"></div>
    </div>
    <div class="pin-spinner-container pin-spinner-container3">
        <div class="pin-spinner-circle1"></div>
        <div class="pin-spinner-circle2"></div>
        <div class="pin-spinner-circle3"></div>
        <div class="pin-spinner-circle4"></div>
    </div>
</div>

<script type="text/javascript" src='/assets/common.js'></script>
<script type="text/javascript" src='/assets/browserified.js'></script>
<script type="text/javascript" src='/assets/mobile.js'></script>

</body>
</html>