<div class="container" ng-controller="List">
    <div id="banner">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="http://omsproduction.b0.upaiyun.com/goods/d181311b8ae0e9d6aa80f5317523e874e528deda5f.jpg!750">
                </li>
                <li>
                    <img src="http://omsproduction.b0.upaiyun.com/goods/e1a3a07e15/640/352/efd2215d9dbd7ab8ea9a6edb23010fb0.jpg!750">
                </li>
                <li>
                    <img src="http://omsproduction.b0.upaiyun.com/goods/b3da740182/640/350/450c6410184d9e95c878e731c5809290.jpg!750">
                </li>
            </ul>
        </div>
    </div>
    <section class="main-view tuan" id="goods_list">
        <div class="base-list-wrapper">

            <div ng-repeat="good in goods">
                <div class="tuan_g">
                    <div class="tuan_g_img" ui-sref="detail({goodID:'{{good._id}}'})">
                        <img src="/assets/imgs/upload/{{good.pics[0]}}">
                        <div class="tuan_g_img_text">
                            <div class="tuan_g_img_item" ng-repeat="tag in good.tags">
                                <div class="tuan_g_img_round"></div>
                                <div class="tuan_img_text_border">
                                    <span>{{tag}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tuan_g_info">
                        <p class="tuan_g_name">{{good.name}}</p>
                    </div>
                    <div class="tuan_g_core">
                        <div class="tuan_g_core_img">
                            <img src="/assets/imgs/mobile/tuan.png">
                        </div>
                        <div class="tuan_g_price price-big">
                            <span>活动价</span><b>{{good.sellPrice|currency:'￥'}}</b>
                        </div>
                        <div class="tuan_g_btn" ui-sref="detail({goodID:'{{good._id}}'})">查看详情</div>
                    </div>
                    <div class="like goods_list_like">
                        <img src="/assets/imgs/mobile/unlike.png" ng-hide="isLike(good._id)">
                        <img src="/assets/imgs/mobile/like.png" ng-show="isLike(good._id)">
                        <div class="like_click_button" ng-click="setLike(good._id)"></div>
                    </div>
                </div>
            </div>

            <div class="load-more pullUp_show">
                <div class="list-center">
                    <div class="img-rotate"></div>
                    <span class="orders_text">正在玩命的加载...</span>
                </div>
            </div>
        </div>
    </section>

    <div id="go_cart" ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart"></span></div>
</div>