<div id="index-content" class="container" avalonctrl="root" style="visibility: visible;">
    <div id="banner" style="height: 350px;">
        <div class="activity-banner" avalonctrl="banner" style="height: 350px;">
            <ul id="index-slider" style="position: relative; transition: none; width: 4480px; left: -1920px;">
                <!--repeat1729790719843-->
                <li data-repeat-rendered="bannerRendered" style="float: left; display: inline;">
                    <a>
                        <img src="http://omsproduction.b0.upaiyun.com/goods/d181311b8ae0e9d6aa80f5317523e874e528deda5f.jpg!750">
                    </a>
                    <!--ms-if-->
                </li><!--repeat1729790719843-->
                <li data-repeat-rendered="bannerRendered" style="float: left; display: inline;">
                    <a>
                        <img src="http://omsproduction.b0.upaiyun.com/goods/e1a3a07e15/640/352/efd2215d9dbd7ab8ea9a6edb23010fb0.jpg!750">
                    </a>
                    <!--ms-if-->
                </li><!--repeat1729790719843-->
                <li data-repeat-rendered="bannerRendered" style="float: left; display: inline;">
                    <a>
                        <img src="http://omsproduction.b0.upaiyun.com/goods/40bb84a1ee/640/350/21cf1b9694f69248f37cbec7f072be81.jpg!750">
                    </a>
                    <!--ms-if-->
                </li><!--repeat1729790719843-->
                <li data-repeat-rendered="bannerRendered" style="float: left; display: inline;">
                    <a>
                        <img src="http://omsproduction.b0.upaiyun.com/goods/d181311b8ae0e9d6aa80f5317523e874e528deda5f.jpg!750">
                    </a>
                    <!--ms-if-->
                </li><!--repeat1729790719843-->
                <li data-repeat-rendered="bannerRendered" style="float: left; display: inline;">
                    <a>
                        <img src="http://omsproduction.b0.upaiyun.com/goods/b3da740182/640/350/450c6410184d9e95c878e731c5809290.jpg!750">
                    </a>
                    <!--ms-if-->
                </li><!--repeat1729790719843-->
            </ul>
            <div class="banner-focus">
                <div class="banner-hd">
                    <ul>
                        <li class="on"></li><!--repeat49402037761-->
                        <li class=""></li><!--repeat49402037761-->
                        <li class=""></li><!--repeat49402037761-->
                        <li class=""></li><!--repeat49402037761-->
                        <li class=""></li><!--repeat49402037761-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="main-view tuan" id="goods_list">
        <div class="base-list-wrapper" avalonctrl="goods_list">

            <div>
                <div class="goods_list-item-0" id="goods_list-item-0">
                    <div class="tuan_g" avalonctrl="goods_list-item-0">
                        <div class="tuan_g_img" data-log="">
                            <img src="http://omsproduction.b0.upaiyun.com/goods/4a607329a8af7b7faf658b88d2b7a1a0fcc117ba97.jpg!750"
                                 data-url="http://omsproduction.b0.upaiyun.com/goods/4a607329a8af7b7faf658b88d2b7a1a0fcc117ba97.jpg!750"
                                 data-index="0">
                            <div class="tuan_g_img_text">
                                <!--repeat401454419552-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>泰国进口榴莲</span>
                                    </div>
                                </div><!--repeat401454419552-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>新鲜空运 质地饱满</span>
                                    </div>
                                </div><!--repeat401454419552-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>活血散寒 健脾补气</span>
                                    </div>
                                </div><!--repeat401454419552--><!--repeat401454419552:end-->
                            </div>
                        </div>
                        <div class="tuan_g_info" data-log="">
                            <p class="tuan_g_name">【限量250份】1元1个泰国进口榴莲（3-4斤）再慢就被别人抢完啦！【水果之王 肉质细腻 入口绵密】</p>
                        </div>
                        <div class="tuan_g_core" data-log="">
                            <div class="tuan_g_core_img">
                                <img src="http://cdn.yangkeduo.com/assets/img/tuan_g_core-4935ae4c83.png">
                            </div>
                            <div class="tuan_g_price price-big" style="width: 220px;">
                                <span>10人团</span>
                                <b>
                                    ￥1.00
                                </b>
                            </div>
                            <div class="tuan_g_btn">去开团</div>
                        </div>
                        <div class="like goods_list_like">
                            <img src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/like/unlike.png">
                            <div class="like_click_button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="goods_list-item-1" id="goods_list-item-1">
                    <div class="tuan_g" avalonctrl="goods_list-item-1">
                        <div class="tuan_g_img" data-log="">
                            <img src="http://omsproduction.b0.upaiyun.com/goods/4a607329a8ac833df0939c5bdce8e212751a0af1b0.jpg!750"
                                 data-url="http://omsproduction.b0.upaiyun.com/goods/4a607329a8ac833df0939c5bdce8e212751a0af1b0.jpg!750"
                                 data-index="1">
                            <div class="tuan_g_img_text">
                                <!--repeat508738172098-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>娇艳欲滴 吉祥红果</span>
                                    </div>
                                </div><!--repeat508738172098-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>果肉细腻 清甜可口</span>
                                    </div>
                                </div><!--repeat508738172098-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>低糖 富含膳食纤维</span>
                                    </div>
                                </div><!--repeat508738172098--><!--repeat508738172098:end-->
                            </div>
                        </div>
                        <div class="tuan_g_info" data-log="">
                            <p class="tuan_g_name">【APP专享团】1元3个越南红心火龙果（3斤装 单果约500g）【富含丰富花青素】限量1000份，再慢就被别人抢完啦！</p>
                        </div>
                        <div class="tuan_g_core" data-log="">
                            <div class="tuan_g_core_img">
                                <img src="http://cdn.yangkeduo.com/assets/img/tuan_g_core-4935ae4c83.png">
                            </div>
                            <div class="tuan_g_price price-big" style="width: 220px;">
                                <span>10人团</span>
                                <b>
                                    ￥1.00
                                </b>
                            </div>
                            <div class="tuan_g_btn">去开团</div>
                        </div>
                        <div class="like goods_list_like">
                            <img src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/like/unlike.png">
                            <div class="like_click_button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="goods_list-item-5" id="goods_list-item-5">
                    <div class="tuan_g" avalonctrl="goods_list-item-5">
                        <div class="tuan_g_img" data-log="">
                            <img src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/test/default.jpg"
                                 data-url="http://omsproduction.b0.upaiyun.com/goods/2ee7433b00714f8a7f043d54bd3e1d2b7b6e06c70f.jpg!750"
                                 data-index="5">
                            <div class="tuan_g_img_text">
                                <!--repeat996400998847-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>优质红枣 爱心特卖</span>
                                    </div>
                                </div><!--repeat996400998847-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>天然有机 农户直供</span>
                                    </div>
                                </div><!--repeat996400998847-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>补中益气 养血安神</span>
                                    </div>
                                </div><!--repeat996400998847--><!--repeat996400998847:end-->
                            </div>
                        </div>
                        <div class="tuan_g_info" data-log="">
                            <p class="tuan_g_name">【爱心助农】17.9元5斤优质黄河滩枣低价零利润 4亿斤红枣紧急救援，让枣农不再含泪</p>
                        </div>
                        <div class="tuan_g_core" data-log="">
                            <div class="tuan_g_core_img">
                                <img src="http://cdn.yangkeduo.com/assets/img/tuan_g_core-4935ae4c83.png">
                            </div>
                            <div class="tuan_g_price price-big" style="width: 220px;">
                                <span>2人团</span>
                                <b>
                                    ￥17.90
                                </b>
                            </div>
                            <div class="tuan_g_btn">去开团</div>
                        </div>
                        <div class="like goods_list_like">
                            <img src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/like/unlike.png">
                            <div class="like_click_button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="goods_list-item-6" id="goods_list-item-6">
                    <div class="tuan_g" avalonctrl="goods_list-item-6">
                        <div class="tuan_g_img" data-log="">
                            <img src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/test/default.jpg"
                                 data-url="http://omsproduction.b0.upaiyun.com/goods/280b2c9f2bfdc95df7464b0864d98399abf63cd5d0.jpg!750"
                                 data-index="6">
                            <div class="tuan_g_img_text">
                                <!--repeat718124351994-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>海南直供 新鲜现摘</span>
                                    </div>
                                </div><!--repeat718124351994-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>肉甜多汁 无纤维</span>
                                    </div>
                                </div><!--repeat718124351994-->
                                <div class="tuan_g_img_item">
                                    <div class="tuan_g_img_round"></div>
                                    <div class="tuan_img_text_border">
                                        <span>直接生吃  酸甜爽口</span>
                                    </div>
                                </div><!--repeat718124351994--><!--repeat718124351994:end-->
                            </div>
                        </div>
                        <div class="tuan_g_info" data-log="">
                            <p class="tuan_g_name">23.5元正宗海南象牙芒5斤精选果（单果100-250克）甜过小台农芒果（预售，4月22日完成发货）肉厚多汁 嫩滑香甜</p>
                        </div>
                        <div class="tuan_g_core" data-log="">
                            <div class="tuan_g_core_img">
                                <img src="http://cdn.yangkeduo.com/assets/img/tuan_g_core-4935ae4c83.png">
                            </div>
                            <div class="tuan_g_price price-big" style="width: 220px;">
                                <span>3人团</span>
                                <b>
                                    ￥23.50
                                </b>
                            </div>
                            <div class="tuan_g_btn">去开团</div>
                        </div>
                        <div class="like goods_list_like">
                            <img src="http://pinduoduo.img-cn-shanghai.aliyuncs.com/like/unlike.png">
                            <div class="like_click_button"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load-more pullUp_show">
                <div class="list-center">
                    <div class="img-rotate"></div>
                    <span class="orders_text" ms-text="loadingTxt">正在玩命的加载...</span>
                </div>
            </div>
        </div>
    </section>
</div>