<section class="main-view container" ng-controller="My">
    <div class="my my_head">
        <div class="my_head_pic pull-left">
            <img id="uinLogo" class="my_head_img" src="http://pinduoduo.oss-cn-shanghai.aliyuncs.com/base/mobile_user_avatar.png">
        </div>
        <div class="my_head_info pull-left">
            <h4 id="nickname" class="my_head_name">呵呵哒<span class="vip_icon"/><span class="vip_text">VIP1</span></h4>
            <h4 id="nickname" class="my_head_name">187****8069</h4>
            <h4 id="nickname" class="my_head_name">加入时间: 2016-04-17 15:59</h4>
        </div>
    </div>

    <div class="nav">
        <div class="nav_item nav_order">
            <div class="nav_item_order_hd">
                <div class="nav_item_order">我的订单</div>
                <div class="nav_item_order_bd">查看全部订单
                    <img class="nav_item_order_bd_arrow" src="http://cdn.yangkeduo.com/assets/img/personal_arrow-dd13467d78.png">
                </div>
            </div>
            <div class="nav_item_bd">
                <a>
                    <div class="nav_item_order_img order_unreceived"></div>
                    <span class="nav_item_txt">购物车<!--ms-if--></span>
                </a>
                <a>
                    <div class="nav_item_order_img order_unpay"></div>
                    <span class="nav_item_txt">未完成<!--ms-if--></span>
                </a>
                <a>
                    <div class="nav_item_order_img order_unsend"></div>
                    <span class="nav_item_txt">已完成<!--ms-if--></span>
                </a>
            </div>
        </div>
    </div>

    <div class="nav">
        <ul class="nav_list">
            <li class="nav_like" style="height: 160px;">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">我的收藏</div>
            </li>
            <li class="nav_cart" style="height: 160px;">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">我的优惠券</div>
            </li>
            <li class="nav_adress" style="height: 160px;">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">收货地址</div>
            </li>
            <li class="nav_lottory" style="height: 160px;">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">消费积分</div>
            </li>
            <li class="nav_faq" style="height: 160px;">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">常见问题</div>
            </li>
            <li class="nav_faq" style="height: 160px;"></li>
        </ul>
    </div>
    <div class="nav nav_item_hd_logout"><div class="coupons_a">退出登录</div></div>
</section>

<div ui-view="popup"></div>