<section class="main-view container" ng-controller="My">
    <div class="my my_head">
        <div class="my_head_pic pull-left">
            <img id="uinLogo" class="my_head_img" src="{{userInfo.headImg.substr(0,userInfo.headImg.length-1)+'132'}}">
        </div>
        <div class="my_head_info pull-left">
            <h4 class="my_head_name">{{userInfo.nickName}}<span class="vip_icon"></span>
                <span class="vip_text">VIP1</span></h4>
            <h4 class="my_head_name">187****8069</h4>
            <h4 class="my_head_name">加入时间: {{formatDatetime(userInfo.subcribeTime)}}</h4>
        </div>
    </div>

    <div class="nav">
        <div class="nav_item nav_order">
            <div class="nav_item_order_hd">
                <div class="nav_item_order">我的订单</div>
                <div class="nav_item_order_bd" ui-sref="orders({listType:'All'})">查看全部订单
                    <img class="nav_item_order_bd_arrow" src="/assets/imgs/mobile/right.png">
                </div>
            </div>
            <div class="nav_item_bd">
                <a ui-sref="cart">
                    <div class="nav_item_order_img order_unreceived"></div>
                    <span class="nav_item_txt">购物车</span>
                </a>
                <a ui-sref="orders({listType:'Ongoing'})">
                    <div class="nav_item_order_img order_unpay"></div>
                    <span class="nav_item_txt">未完成</span>
                </a>
                <a ui-sref="orders({listType:'Done'})">
                    <div class="nav_item_order_img order_unsend"></div>
                    <span class="nav_item_txt">已完成</span>
                </a>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="nav_item_order_hd">
            <div class="nav_item_order">我的二维码</div>
            <div class="nav_item_order_bd">
                <img class="code" src="/assets/imgs/mobile/code.png">
                <img class="nav_item_order_bd_arrow" src="/assets/imgs/mobile/right.png">
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav_item_order_hd"><p class="nav_item_order">历史累计奖励(元)</p></div>
    </div>
    <div class="nav tight" style="margin-top:-26px;">
        <div class="nav_item_order_hd">
            <div class="nav_item_order" style="font-size:30px;">0.00</div>
            <div class="nav_item_order_bd">
                <img class="nav_item_order_bd_arrow" src="/assets/imgs/mobile/right.png">
            </div>
        </div>
        <div class="nav_item_bd"></div>
    </div>
    <div class="nav tight">
        <div class="nav_item_order_hd">
            <div class="balance">可提现金额 <span>0.00</span>元</div>
        </div>
    </div>
    <div class="nav">
        <div class="nav_item_order_hd">
            <div class="nav_item_order">我的推荐</div>
            <div class="nav_item_order_bd">0人
                <img class="nav_item_order_bd_arrow" src="/assets/imgs/mobile/right.png">
            </div>
        </div>
    </div>

    <div class="recommend_by">您是由【不动·峰】推荐</div>

    <div class="nav">
        <ul class="nav_list">
            <li class="nav_like" ui-sref="favorite">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">我的收藏</div>
            </li>
            <li class="nav_cart" ui-sref="coupon({status:'Usable'})">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">我的优惠券</div>
            </li>
            <li class="nav_adress">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">收货地址</div>
            </li>
            <li class="nav_lottory">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">消费积分</div>
            </li>
            <li class="nav_faq">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">常见问题</div>
            </li>
            <li class="nav_last">
                <div class="nav_list_img"></div>
                <div class="nav_list_txt">占位</div>
            </li>
        </ul>
    </div>
    <div class="nav nav_item_hd_logout">
        <div class="coupons_a">刷新用户</div>
    </div>
</section>

<div ui-view="popup"></div>