<div class="container" style="min-height: 361px;" ng-controller="orderDetail">
    <div>
        <div class="order-banner">
            <div class="_banner_img {{getStatusInfo(order.status).imgClass}}">
            </div>
            <div class="_banner_txt">
                <div class="_msg_tag">{{getStatusInfo(order.status).longName}}</div>
                <div class="_msg_content"></div>
            </div>
        </div>

        <div class="order-address-info">
            <img class="order-address-icon" src="/assets/imgs/mobile/address_locate.png">
            <div class="order-address-body">
                <div class="address-body-top">
                    <div class="_address_person">收货人：{{address.receiver}}</div>
                    <div class="_address_mobile">{{address.phone}}</div>
                </div>
                <div class="address-body-detail">收货地址：{{address.province}} {{address.city}} {{address.district}}
                    {{address.detail}}
                </div>
            </div>
        </div>

        <div class="order-order">
            <div class="order-order-bd-top">
                <div class="order-mall-title">
                    <img class="_icon"
                         src="http://omsproduction.b0.upaiyun.com/goods/5061b215b5/310/310/d7af9f343bb4817a746b0af612cc7324.jpg">
                    <span class="_mall_name">北海之南大果园</span>
                    <span class="_order_status">{{getStatusInfo(order.status).shortName}}</span>
                </div>
            </div>
            <div class="order-order-goods" ng-repeat="good in order.goods">
                <div class="orders-order-goods-img" style="margin-left:0;">
                    <span style="background: url(/assets/imgs/upload/{{good.pic}}) no-repeat #fff;background-size: 130px auto;"></span>
                </div>
                <div class="order-order-goods-name">
                    <div class="_goods_name">{{good.name}}</div>
                </div>
                <div class="order-order-goods-attr">
                    <span class="_price">{{good.sellPrice|currency:'￥'}}
                        <span class="_num">× {{good.quantity}}</span></span>
                </div>
                <div class="order-order-group-detail">
                </div>
            </div>
            <div class="order-order-bd-bottom">
                <div class="order-order-ft">
                    <div class="order-order-total">
                        <div class="_right">
                            <div class="_order_price">
                                共{{order.goods.length}}件商品&nbsp;合计：
                                <span>{{order.totalAmount|currency:'￥'}}</span>&nbsp;(免运费)
                            </div>
                        </div>
                    </div>
                    <div class="order-order-more-info">
                        <div class="_more_info">
                            <img class="_more_info_img"
                                 src="http://cdn.yangkeduo.com/assets/img/phone_call-9c4b445ee5.png">
                            <a class="_more_info_txt" id="phone_call" href="tel:18072999887">拨打电话</a>
                        </div>
                        <div class="_more_info _hr">
                            <img class="_more_info_img" src="http://cdn.yangkeduo.com/assets/img/chat-4f13924c39.png">
                            <span class="_more_info_txt">联系卖家</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-order-detail">
            <div class="order-detail-row">
                <div class="_row_key">订单编号：</div>
                <div class="_row_value">
                    <span>{{order._id}}</span>
                </div>
            </div>
            <div class="order-detail-row">
                <div class="_row_key">支付方式：</div>
                <div class="_row_value">支付宝</div>
            </div>
            <div class="order-detail-row">
                <div class="_row_key">下单时间：</div>
                <div class="_row_value">{{formatDatetime(order.createTime)}}</div>
            </div>

            <div class="order-detail-row" style="display: none;">
                <div class="_row_key">快递方式：</div>
                <div class="_row_value"></div>
            </div>
            <div class="order-detail-row" style="display: none;">
                <div class="_row_key">运单编号：</div>
                <div class="_row_value"></div>
            </div>
        </div>

        <div class="pay2_1">
            <div class="pay2_hd">请选择支付方式</div>
            <div class="pay2_list">
                <div class="pay2_item pay2_wx pay2_selected">
                    <span class="pay2_item_state_default pay2_item_state"></span>
                    <span class="pay2_item_ico_ali"></span>
                    <span class="pay2_item_tit">支付宝支付</span>
                </div>
            </div>
        </div>

        <div class="order-state-btn">
            <a class="_state_btn_2 action_button" ng-show="order.status=='AwaitPay'"></a>
            <a class="_state_btn_1 action_button" ng-show="order.status=='AwaitPay'"></a>
            <a class="_state_btn_3 action_button" ng-show="order.status=='AwaitPick'"></a>
            <a class="_state_btn_5 action_button" ng-show="order.status=='AwaitPick'||order.status=='Done'"></a>
        </div>
    </div>
    <div class="order-detail-bottom"></div>
</div>