<div class="container" style="min-height: 361px;" ng-controller="orderDetail">
    <div>
        <div class="order-banner">
            <div class="_banner_img order_unpay">
            </div>
            <div class="_banner_txt">
                <div class="_msg_tag">等待买家付款</div>
                <div class="_msg_content"></div>
            </div>
        </div>

        <div class="order-address-info">
            <img class="order-address-icon" src="http://cdn.yangkeduo.com/assets/img/address_locate-a8a004db65.png">
            <div class="order-address-body">
                <div class="address-body-top">
                    <div class="_address_person">收货人：dfasdf</div>
                    <div class="_address_mobile">12345678901</div>
                </div>
                <div class="address-body-detail">收货地址：北京 西城区 dfasdfasd</div>
            </div>
        </div>

        <div class="order-order">
            <div class="order-order-bd-top">
                <div class="order-mall-title">
                    <img class="_icon"
                         src="http://omsproduction.b0.upaiyun.com/goods/5061b215b5/310/310/d7af9f343bb4817a746b0af612cc7324.jpg">
                    <span class="_mall_name">九阳官方旗舰店</span>
                    <span class="_order_status">待支付</span>
                </div>
            </div>
            <div class="order-order-goods">
                <div class="order-order-goods-img">
                    <img src="http://testpdd.b0.upaiyun.com/goods/d41d8cd98f271d9f94ff67f9d97643c36821ef01db.jpg">
                </div>
                <div class="order-order-goods-name" style="width: 470px;">
                    <div class="_goods_name">799元 九阳JYL-Y92 加热破壁机家用多功能智能破壁料理宝宝辅食进口玻璃养生机</div>
                </div>
                <div class="order-order-goods-attr">
                    <div class="order-order-goods-attr-item">
                        <div class="order-order-goods-price">
                            <div class="_price"><i>￥</i>1298.00</div>
                            <div class="_num">×1</div>
                        </div>
                    </div>
                </div>
                <div class="order-order-group-detail">
                </div>
            </div>
            <div class="order-order-bd-bottom">
                <div class="order-order-ft">
                    <div class="order-order-total">
                        <div class="_right">
                            <div class="_order_price">共1件商品&nbsp;合计：<span>￥&nbsp;1298.00</span>&nbsp;(免运费)</div>
                        </div>
                    </div>
                    <div class="order-order-more-info">
                        <div class="_more_info">
                            <img class="_more_info_img"
                                 src="http://cdn.yangkeduo.com/assets/img/phone_call-9c4b445ee5.png">
                            <a class="_more_info_txt" id="phone_call" href="tel:18072999887">拨打电话</a>
                        </div>
                        <div class="_more_info _hr">
                            <img class="_more_info_img" src="http://cdn.yangkeduo.com/assets/img/chat-4f13924c39.png">
                            <span class="_more_info_txt">联系卖家</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-order-detail">
            <div class="order-detail-row">
                <div class="_row_key">订单编号：</div>
                <div class="_row_value">
                    <span>160502-35487738898</span>
                </div>
            </div>
            <div class="order-detail-row">
                <div class="_row_key">支付方式：</div>
                <div class="_row_value">支付宝</div>
            </div>
            <div class="order-detail-row">
                <div class="_row_key">下单时间：</div>
                <div class="_row_value">2016-05-02 10:27:24</div>
            </div>

            <div class="order-detail-row" style="display: none;">
                <div class="_row_key">快递方式：</div>
                <div class="_row_value"></div>
            </div>
            <div class="order-detail-row" style="display: none;">
                <div class="_row_key">运单编号：</div>
                <div class="_row_value"></div>
            </div>
        </div>

        <div class="pay2_1">
            <div class="pay2_hd">请选择支付方式</div>
            <div class="pay2_list">
                <div class="pay2_item pay2_wx pay2_selected">
                    <span class="pay2_item_state_default pay2_item_state"></span>
                    <span class="pay2_item_ico_ali"></span>
                    <span class="pay2_item_tit">支付宝支付</span>
                </div>
            </div>
        </div>

        <div class="order-state-btn">
            <a class="_state_btn_2 action_button"></a>
            <a class="_state_btn_1 action_button"></a>

        </div>
    </div>
    <div class="order-detail-bottom"></div>
</div>