<div class="container" style="min-height: 361px;" ng-controller="Orders">
    <div class="content js-page-content">

        <div ng-include="'/views/cart_orders_nav.html'"></div>

        <div id="order-list-container">
            <div class="deal-list-status" ng-hide="orders.length==0">
                <div class="orders-order" ng-repeat="order in orders">
                    <div>
                        <a ui-sref="order({orderID:'{{order._id}}'})">
                            <div class="orders-order-glist">
                                <div class="orders-mall-title">
                                    <img class="_icon"
                                         src="http://omsproduction.b0.upaiyun.com/goods/d06f144f1d/310/310/de34736278c65349a2bd1533a8448f42.jpg">
                                    <span class="_mall_name">北海之南大果园</span>
                                    <span class="_order_status">{{getStatusName(order.status)}}</span>
                                </div>
                            </div>
                            <div class="orders-order-goods" ng-repeat="good in order.goods">
                                <div class="orders-order-goods-img">
                                    <img src="/assets/imgs/upload/{{good.pic}}">
                                </div>
                                <div class="orders-order-goods-name">
                                    <div class="_goods_name">{{good.name}}</div>
                                </div>
                                <div class="orders-order-goods-payed">
                                    <div class="payed-head">{{good.sellPrice|currency:'￥'}}</div>
                                    <div class="payed-amount">&nbsp;x {{good.quantity}}</div>
                                </div>
                            </div>
                        </a>
                        <div class="orders-order-bd-bottom">
                            <div class="orders-order-ft">
                                <div class="orders-order-opt">
                                    <div class="orders-order-btn">
                                        <div class="orders-order-goods-payed pull-left" style="left:0;">
                                            <div class="payed-head">实付:</div>
                                            <div class="payed-amount">{{order.totalAmount|currency:'￥'}}</div>
                                            <div class="payed-free">&nbsp;(免运费)</div>
                                        </div>
                                        <div ng-show="order.status=='AwaitPay'">
                                            <a class="_order_btn_buy" ui-sref="order({orderID:'{{order._id}}'})">去支付</a>
                                            <a class="_order_btn_cancel" ng-click="cancelOrder(order._id)">取消订单</a>
                                        </div>
                                        <a class="_order_btn_receive" ng-show="order.status=='AwaitPick'"
                                           ng-click="cancelOrder(order._id)">确认收货</a>
                                        <a class="_order_btn_cancel" ng-hide="order.status=='AwaitPay'"
                                           ui-sref="order({orderID:'{{order._id}}'})">查看详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap_position pullUp_show">
                    <div class="posi_abso up">
                        <div class="center" id="center_pullup">
                            <span class="orders-text"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-list list-finished" ng-show="orders.length==0">
                <div>
                    <h4>居然还没有订单</h4>
                    <p class="font-size-12">好东西，手慢无</p>
                </div>
                <div><a ui-sref="list" class="tag tag-big tag-orange" style="padding:8px 30px;">去逛逛</a></div>
            </div>
        </div>
    </div>
</div>