<div class="container " style="min-height: 361px;">
    <div class="content js-page-content">

        <div class="nav-fixed">
            <a class="fixed-nav-item-orders">
                <span>购物车</span>
            </a>
            <a class="fixed-nav-item-orders">
                <span class="nav-cur">未完成订单</span>
            </a>
            <a class="fixed-nav-item-orders">
                <span>已完成订单</span>
            </a>
        </div>

        <div id="order-list-container">
            <div class="js-list b-list"></div>
            <div class="empty-list list-finished" style="padding-top:60px;">
                <div>
                    <h4>居然还没有订单</h4>
                    <p class="font-size-12">好东西，手慢无</p>
                </div>
                <div><a href="https://wap.koudaitong.com/v2/showcase/homepage?kdt_id=15573072"
                        class="tag tag-big tag-orange" style="padding:8px 30px;">去逛逛</a></div>
            </div>
        </div>
    </div>
</div>