<div class="mod_container" style="display:block;" ng-controller="AddressEdit">
    <div class="wx_bar">
        <div class="wx_bar_tit">收货地址</div>
        <div class="wx_bar_back pull-right"></div>
    </div>

    <div class="wx_wrap address_new">
        <p>
            <span class="tit">收货人</span>
            <input style="background-color:white;" placeholder="名字" type="text" ng-model="address.receiver">
        </p>
        <p>
            <span class="tit">手机号码</span>
            <input style="background-color:white;" placeholder="手机号码" type="tel" ng-model="address.phone">
        </p>
        <p>
            <span class="tit">省份</span>
            <select ng-model="province" ng-options="p as p.Val for p in provinces|orderBy:'Seq'"
                    ng-change="fillChild(province)"></select>
        </p>
        <p>
            <span class="tit">市</span>
            <select ng-model="city" ng-options="c as c.Val for c in cities|orderBy:'Seq'"
                    ng-change="fillChild(city)"></select>
        </p>
        <p>
            <span class="tit">区/县</span>
            <select ng-model="district" ng-options="d as d.Val for d in districts"
                    ng-change="fillChild(district)"></select>
        </p>
        <p>
            <span class="tit">详细地址</span>
            <input style="background-color:white;" placeholder="详细地址" type="text" ng-model="address.detail">
        </p>

        <p class="action">
            <button id="confirm_address" class="submit" ng-click="save()">确认</button>
            <button id="delete_address" class="submit" style="display: none; background-color: red;"
                    ng-click="delete()">删除
            </button>
        </p>
    </div>
</div>