<div class="wx_wrap">
    <div class="wx_bar">
        <div class="wx_bar_tit">收货地址</div>
        <div class="wx_bar_back pull-right"></div>
    </div>
    <div class="address_list">
        <div class="address">
            <div class="wrap_address">
                <span class="none">默认</span>
            </div>
            <ul style="margin:10px 0 -5px;" class="marginleft bg_color">
                <li class="add_li"><strong>刘晓忠 | 18702188069</strong></li>
                <li class="add_li_font"><span>上海市&nbsp;上海市&nbsp;普陀区XXXXXX</span></li>
                <li class="edit">编辑</li>
                <span class="icon_address1 bg_color"></span>
            </ul>
        </div><!--repeat990954938114--><!--repeat990954938114:end-->
        <!--ms-if-->
        <div class="margin_footer"></div>
    </div>
    <div class="add_address_red">
        <div class="inner_red">
            <a class="add_text_red" style="color:white">新增地址</a>
        </div>
    </div>
</div>