<div class="mod_container" style="display:block;" ng-controller="AddressEdit">
    <div class="wx_bar">
        <div class="wx_bar_tit">收货地址</div>
        <div class="wx_bar_back pull-right"></div>
    </div>

    <div class="wx_wrap address_new">
        <p>
            <span class="tit">收货人</span>
            <input style="background-color:white;" placeholder="名字" type="text">
        </p>
        <p>
            <span class="tit">手机号码</span>
            <input style="background-color:white;" placeholder="手机号码" type="tel">
        </p>
        <p>
            <span class="tit">省份</span>
            <select ng-model="PID" ng-change="fillCities(PID, true)">
                <option value="0" selected>- 选择省 -</option>
                <option ng-value="province.PID" ng-repeat="province in provinces|orderBy:'Seq'">{{province.Val}}
                </option>
            </select>
        </p>
        <p>
            <span class="tit">市</span>
            <select ng-model="CID" ng-change="fillCities(CID)">
                <option value="0">- 选择市 -</option>
                <option ng-value="city.CID" ng-repeat="city in cities|orderBy:'Seq'">{{city.Val}}</option>
            </select>
        </p>
        <p>
            <span class="tit">区/县</span>
            <select>
                <option value="0">- 选择区/县 -</option>
                <option ng-repeat="district in districts">{{district.Val}}</option>
            </select>
        </p>
        <p>
            <span class="tit">详细地址</span>
            <input style="background-color:white;" placeholder="详细地址" type="text">
        </p>

        <p class="action">
            <button id="confirm_address" class="submit">确认</button>
            <button id="delete_address" class="submit" style="display: none; background-color: red;">删除</button>
        </p>
    </div>
</div>