<div class="wx_wrap" ng-controller="AddressSelect">
    <div class="wx_bar">
        <div class="wx_bar_tit">收货地址</div>
        <div class="wx_bar_back pull-right"></div>
    </div>
    <div class="address_list">
        <div class="address" ng-repeat="address in addresses">
            <div class="wrap_address" ng-show="address.isDefault">
                <span class="none">默认</span>
            </div>
            <ul style="margin:10px 0 -5px;" class="marginleft bg_color">
                <li class="add_li"><strong>{{address.receiver}} | {{address.phone}}</strong></li>
                <li class="add_li_font"><span>{{address.province}}&nbsp;{{address.city}}&nbsp;{{address.district}}&nbsp;{{address.detail}}</span>
                </li>
                <li class="edit" ui-sref="addressEdit({addressID:'{{address._id}}'})">编辑</li>
                <span class="icon_address1 bg_color"></span>
            </ul>
        </div>
        <div class="margin_footer"></div>
    </div>
    <div class="add_address_red">
        <div class="inner_red">
            <a class="add_text_red" style="color:white" ui-sref="addressEdit">新增地址</a>
        </div>
    </div>
</div>