<form class="form-horizontal" ng-control="Good">

    <!-- Good List -->
    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th class="text-center">名称/标题</th>
            <th class="text-center">描述</th>
            <th class="text-center">分类</th>
            <th class="text-center">图片</th>
            <th class="text-center">原产地</th>
            <th class="text-center">保质期</th>
            <th class="text-center">存储方式</th>
            <th class="text-center">价格</th>
            <th class="text-center">销量</th>
            <th class="text-center">库存</th>
            <th class="text-center"></th>
        </tr>
        <tr ng-repeat="g in goods">
            <td>{{g.name}}</td>
            <td>&nbsp;&nbsp;{{g.desc}}</td>
            <td>&nbsp;&nbsp;{{g.category}}</td>
            <td>
                <div style="padding:5px 5px 0 0;" class="pull-left" ng-repeat="path in g.pics">
                    <img src="{{path}}" style="width:100px;">
                </div>
            </td>
            <td>&nbsp;&nbsp;{{g.provenance}}</td>
            <td>&nbsp;&nbsp;{{g.shelfLife}}</td>
            <td>&nbsp;&nbsp;{{g.storage}}</td>
            <td>&nbsp;&nbsp;{{g.price|currency:'￥'}}</td>
            <td>&nbsp;&nbsp;{{g.sales}}</td>
            <td>&nbsp;&nbsp;{{g.balance}}</td>
            <td class="text-center">
                <input class="btn btn-sm" type="button" ng-click="editGood(g._id)" value="Edit">
                <input class="btn btn-sm" type="button" ng-click="deleteGood(g._id)" value="Delete">
            </td>
        </tr>
        <tr ng-show="goods.length==0">
            <td class="text-center" colspan="11">
                <br>No goods created yet. Please create one.
                &nbsp;&nbsp;<br><br>
            </td>
        </tr>
    </table>
    <nav ng-show="goods.length>0">
        <ul class="pagination">
            <li ng-class="pages.hasPrev?'':'disabled'">
                <span ng-click="getPagedGoods(pages.prev)">&laquo;</span>
            </li>
            <li ng-repeat="i in pageArray" ng-class="pages.current==i?'active':''">
                <span ng-click="getPagedGoods(i)">{{i}}</span>
            </li>
            <li ng-class="pages.hasNext?'':'disabled'">
                <span ng-click="getPagedGoods(pages.next)">&raquo;</span>
            </li>
        </ul>
    </nav>

    <!-- Create/Edit Good -->
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">名称/标题</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" ng-model="good.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">描述</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="good.desc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">分类</label>
            <div class="col-sm-11">
                <select class="form-control input-sm" ng-model="good.category">
                    <option selected>--请选择--</option>
                    <option ng-repeat="c in goodCategories">{{c}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">图片</label>
            <div class="col-sm-11">
                <button class="form-control btn-info" ngf-select="uploadFiles($files)" accept="image/*"
                        ngf-max-height="1000" ngf-max-size="1MB" multiple>选择图片 (可多选, 为了显示效果请尽量选接近500*500的正方形图片)
                </button>
                <div>
                    <div style="padding:5px 5px 0 0;" class="pull-left" ng-repeat="path in good.pics">
                        <img src="{{path}}" style="width:300px;">
                    </div>
                </div>
                {{errorMsg}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">规格(例如:1kg)</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="good.spec">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">原产地</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="good.provenance">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">保质期</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="number" ng-model="good.shelfLife">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">存储方式</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="good.storage">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">价格</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="number" ng-model="good.price">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">库存</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="number" ng-model="good.balance">
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-success" type="button" ng-click="saveGood(good)" ng-value="buttonName">
        </div>
    </div>

</form>