<form class="form-horizontal" ng-control="userCtrl">
<!-- Dic List -->
    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th class="text-center">username</th>
            <th class="text-center">password</th>
            <th class="text-center">unifyuserid</th>
            <th class="text-center"></th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.unifyuserid}}</td>
            <td class="text-center">
                <input class="btn btn-sm" type="button" ng-click="" value="Delete" >
            </td>
        </tr>
        <tr ng-show="users.length==0">
            <td class="text-center" colspan="4">
                <br>No user created yet. Please create one.</a>.
                &nbsp;&nbsp;<br><br>
            </td>
        </tr>
    </table>

    <div class="form-horizontal" >
        <div class="form-group">
            <label class="col-sm-1 control-label">username:</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" ng-model="user.username" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-1 control-label">password:</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" ng-model="user.password" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-1 control-label">unifyuserid:</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" ng-model="user.unifyuserid" />
            </div>
        </div>
        <input class="btn btn-success" type="button" ng-click="Signin(user)" value="signin">
    </div>
</form>