<form class="form-horizontal" ng-control="UserMana">

    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th class="text-center">Nick Name</th>
            <th class="text-center">Head Img</th>
            <th class="text-center">WeChat</th>
            <th class="text-center">User Role</th>
            <th class="text-center">Mobile</th>
            <th class="text-center">Email</th>
            <th class="text-center">Description</th>
            <th class="text-center"></th>
        </tr>
        <tr ng-repeat="u in users">
            <td>{{u.nickName}}</td>
            <td><img src="{{u.headImg.substr(0,u.headImg.length-1)+'132'}}"></td>
            <td>&nbsp;&nbsp;{{u.wechatID}}</td>
            <td>&nbsp;&nbsp;{{u.role}}</td>
            <td>&nbsp;&nbsp;{{u.mobile}}</td>
            <td>&nbsp;&nbsp;{{u.email}}</td>
            <td>&nbsp;&nbsp;{{u.description}}</td>
            <td class="text-center">
                <input class="btn btn-sm" type="button" ng-click="deleteUser(u._id)" value="Delete">
            </td>
        </tr>
        <tr ng-show="users.length==0">
            <td class="text-center" colspan="11">
                <br>No User created yet. Please create one.
                &nbsp;&nbsp;<br><br>
            </td>
        </tr>
    </table>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">User Name</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="user.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">WeChat</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="user.weChatId">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Mobile</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="user.mobile">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Email</label>
            <div class="col-sm-11">
                <input class="form-control input-sm" type="text" ng-model="user.email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Role</label>
            <div class="col-sm-11">
                <select class="form-control input-sm" ng-model="user.role">
                    <option selected>--请选择--</option>
                    <option ng-repeat="roleCategory in RoleCategories">{{roleCategory}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Description</label>
            <div class="col-sm-11">
                <textarea class="form-control input-sm" type="text" ng-model="User.description"/>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-success" type="button" ng-click="createUser(user)" value="Create User">
        </div>
    </div>

</form>