<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/styles/bootstrap.min.css'>
</head>
<body ng-app="app">
    <nav class='navbar navbar-default'>
        <div class='container'>
            <ul class='nav navbar-nav'>
                <li><a class='register' href='/#/order/create'>Create Order</a></li>
            </ul>
        </div>
    </nav>
    <div class='container' ng-view></div>
    <script src='/scripts/angular.min.js'></script>
    <script src='/scripts/angular-route.min.js'></script>
    <script src='/router.js'></script>
    <script src='/order.js'></script>
</body>
</html>