<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0">
    <link rel='stylesheet' type="text/css" href='/common.css'>
</head>
<body ng-app="app">
<nav class='navbar navbar-inverse'>
    <div class='container'>
        <ul class='nav navbar-nav'>
            <li><a class='register' href='/pc#/order/index'>Order Index</a></li>
            <li><a class='register' href='/pc#/order/create'>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Create Order</a>
            </li>
        </ul>
    </div>
</nav>
<div id="socketinfo" style="position:fixed;display:none;left:25px;"></div>
<div class='container' ng-view></div>

<script type="text/javascript" src='/common.js'></script>
<script type="text/javascript" src='/site.js'></script>

</body>
</html>