<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>北海之南</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="shortcut icon" href="//soofruit.oss-cn-hangzhou.aliyuncs.com/app/icon.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit">
        <link rel='stylesheet' type="text/css" href='/public/common.css'>
        <link rel='stylesheet' type="text/css" href='/public/app.css'>
        <!-- <link rel='stylesheet' type="text/css" href='http://soofruit.oss-cn-hangzhou.aliyuncs.com/app/css/common.css'>
        <link rel='stylesheet' type="text/css" href='http://soofruit.oss-cn-hangzhou.aliyuncs.com/app/css/app.css'> -->
    </head>
    <body ng-app="soofruit">
        <div ui-view style="height:100%;"></div>
        <div class="layer-container" ng-show="stateIsLoading">
            <div class="layer-shade"></div>
            <div class="layer-main">
                <div class="section">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <!-- TODO: 顶部弹窗 -->
        <!-- TODO: 返回顶部 -->
        <!-- TODO: 进入购物车 -->
        <!-- <script type="text/javascript" src='/public/common.js'></script>
        <script type="text/javascript" src='/public/app.js'></script> -->
        <script type="text/javascript" src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
        <script type="text/javascript" src='http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js'></script>
        <script type="text/javascript" src='http://apps.bdimg.com/libs/angular-ui-router/0.2.15/angular-ui-router.js'></script>
        <script type="text/javascript" src='http://soofruit.oss-cn-hangzhou.aliyuncs.com/app/js/swiper.min.js'></script>
        <script type="text/javascript" src='http://soofruit.oss-cn-hangzhou.aliyuncs.com/app/js/iscroll.min.js'></script>
        <!-- <script type="text/javascript" src='http://soofruit.oss-cn-hangzhou.aliyuncs.com/app/js/scroller.js'></script> -->
        <!-- <script type="text/javascript" src='http://soofruit.oss-cn-hangzhou.aliyuncs.com/app/js/app.js'></script> -->
        <script type="text/javascript" src='/public/app.js'></script>
        <script type="text/javascript">

        // 加载flag
        var loading = false;
        // 最多可加载的条目
        var maxItems = 100;

        // 每次加载添加多少条目
        var itemsPerLoad = 20;

        function addItems(number, lastIndex) {
            // 生成新条目的HTML
            var html = '';
            for (var i = lastIndex + 1; i <= lastIndex + number; i++) {
              html += '<li class="item-content"><div class="item-inner"><div class="item-title">Item ' + i + '</div></div></li>';
            }
            // 添加新条目
            $('.infinite-scroll-bottom .list-container').append(html);

        }

        // 上次加载的序号
        var lastIndex = 20;

        // 添加'refresh'监听器
        $(document).on('refresh', '.pull-to-refresh-content', function(e) {
            // 模拟2s的加载过程
            setTimeout(function() {
                // 添加新条目
                addItems(itemsPerLoad, lastIndex);
                // 加载完毕需要重置
                $.pullToRefreshDone('.pull-to-refresh-content');
            }, 2000);
        });

        // 注册'infinite'事件处理函数
        $(document).on('infinite', '.infinite-scroll-bottom',function() {

          // 如果正在加载，则退出
          if (loading) return;

          // 设置flag
          loading = true;

          // 模拟1s的加载过程
          setTimeout(function() {
              // 重置加载flag
              loading = false;

              if (lastIndex >= maxItems) {
                  // 加载完毕，则注销无限加载事件，以防不必要的加载
                  $.detachInfiniteScroll($('.infinite-scroll'));
                  // 删除加载提示符
                  $('.infinite-scroll-preloader').remove();
                  return;
              }

              // 添加新条目
              addItems(itemsPerLoad, lastIndex);
              // 更新最后加载的序号
              lastIndex = $('.list-container li').length;
              //容器发生改变,如果是js滚动，需要刷新滚动
              $.refreshScroller();
          }, 2000);
        });
    </script>
    </body>
</html>