<div class="container" ng-controller="IndexController">
    <div id="subjects" class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="subject in subjects">
                <a ui-sref="ItemDetail({id:'{{subject.id}}', type: '{{subject.type}}'})">
                    <img id="{{subject.id}}" class="swiper-lazy" data-src="{{subject.img}}">
                </a>
                <div class="swiper-lazy-preloader"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div id="spotlights" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="spotlight in spotlights">
                <a ui-sref="ItemDetail({id:'{{spotlight.id}}', type: '{{spotlight.type}}'})">
                    <img id="{{spotlight.id}}" ng-src="{{spotlight.img}}">
                </a>
            </div>
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="express-container">
        <ul class="express-column clearfix" id="express">
            <li class="rotate" ng-repeat="item in express">
                <a ui-sref="ItemDetail({id:'{{item.id}}', type: 'item'})">
                    <img id="{{item.id}}" ng-src="{{item.img}}">
                </a>
            </li>
        </ul>
    </div>
    <div class="products-container">
        <div id="products" class="content">
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
            <a class=href="/goods/buy1/id/456" title="东魁杨梅" alt="东魁杨梅">
                <img src="http://goead.ysxdgy.com/Uploads/Picture/uploads/20160607/5756bbbf3f7d9.jpg" width="100%" title="东魁杨梅" alt="东魁杨梅" class="scrollLoading">
            </a>
        </div>
    </div>
    <div id="go_cart" ui-sref="cart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </div>
</div>