<div class="container" ng-controller="IndexController">
    <div id="subjects" class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="subject in subjects">
                <a ui-sref="ItemDetail({id:'{{subject.id}}'})">
                    <img id="{{subject.id}}" class="swiper-lazy" data-src="{{subject.img}}">
                </a>
                <div class="swiper-lazy-preloader"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div id="spotlights" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="spotlight in spotlights">
                <a ui-sref="ItemDetail({id:'{{spotlight.id}}'})">
                    <img id="{{spotlight.id}}" src="{{spotlight.img}}">
                </a>
            </div>
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="express-container">
        <ul class="express-column clearfix" id="express">
            <li class="rotate" ng-repeat="item in express">
                <a ui-sref="ItemDetail({id:'{{item.id}}'})">
                    <img id="{{item.id}}" src="{{item.img}}">
                </a>
            </li>
        </ul>
    </div>
    <div id="go_cart" ui-sref="cart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </div>
</div>