<!DOCTYPE html>
<html lang="en">
    <head>
        <title>欢迎来到北海之南大果园</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,maximum-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/public/images/app/like.png"/>
        <link rel='stylesheet' type="text/css" href='/public/common.css'>
        <link rel='stylesheet' type="text/css" href='/public/app.css'>
    </head>
    <body ng-app="soofruit">
        <div ui-view style="height:100%;"></div>
        <div class="pin-toast-container">
            <div class="pin-toast"></div>
        </div>
        <div id="go_to_top"><span>顶部</span></div>
        <div id="go_to_my" ui-sref="my"></div>
        <div class="pin-spinner" style="display:{{stateIsLoading?'block':'none'}}">
            <div class="pin-spinner-container pin-spinner-container1">
                <div class="pin-spinner-circle1"></div>
                <div class="pin-spinner-circle2"></div>
                <div class="pin-spinner-circle3"></div>
                <div class="pin-spinner-circle4"></div>
            </div>
            <div class="pin-spinner-container pin-spinner-container2">
                <div class="pin-spinner-circle1"></div>
                <div class="pin-spinner-circle2"></div>
                <div class="pin-spinner-circle3"></div>
                <div class="pin-spinner-circle4"></div>
            </div>
            <div class="pin-spinner-container pin-spinner-container3">
                <div class="pin-spinner-circle1"></div>
                <div class="pin-spinner-circle2"></div>
                <div class="pin-spinner-circle3"></div>
                <div class="pin-spinner-circle4"></div>
            </div>
        </div>
        <script type="text/javascript" src='/public/common.js'></script>
        <script type="text/javascript" src='/public/browserified.js'></script>
        <script type="text/javascript" src='/public/app.js'></script>
    </body>
</html>